*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page-h1{
    cursor: pointer;
    display: inline-block;
    color: green;
}
.button-close{
    display: block;
    cursor: pointer;
    padding: 4px;
    color: aliceblue;
    background-color: green;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 700;
    border: none;
}
.page-font{
    margin: 10px;
}